{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 style="color: #FCD116;">Detalle del Jugador</h1>
    <p><strong>ID:</strong> {{ jugador.id }}</p>
    <p><strong>Jugador:</strong> {{ jugador.Jugadores }}</p>
    <p><strong>Fecha Nacimiento/Edad:</strong> {{ jugador.F_Nacim_Edad }}</p>
    <p><strong>Club:</strong> {{ jugador.Club }}</p>
    <p><strong>Altura:</strong> {{ jugador.Altura }}</p>
    <p><strong>Pie:</strong> {{ jugador.Pie }}</p>
    <p><strong>Partidos con la Selección:</strong> {{ jugador.Partidos_con_la_seleccion }}</p>
    <p><strong>Goles:</strong> {{ jugador.Goles }}</p>
    <p><strong>Número de Camisa:</strong> {{ jugador.Numero_de_camisa }}</p>
    <p><strong>Año:</strong> {{ jugador.anio }}</p>
    <p><strong>Posición:</strong> {{ jugador.posicion }}</p>
    <p><strong>Activo:</strong> {{ jugador.activo }}</p>
    <p><strong>Imagen:</strong> {{ jugador.imagen }}</p>
    <a href="/jugadores/" class="btn btn-back">Volver</a>
</div>
{% endblock %}