{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 style="color: #FCD116;">Editar Partido</h1>
    <form method="post" action="/partidos/{{ partido.id }}/update">
        <p><label>ID:</label> <input type="number" name="id" value="{{ partido.id }}" readonly></p>
        <p><label>Equipo Local:</label> <input type="text" name="equipo_local" value="{{ partido.equipo_local }}" required></p>
        <p><label>Equipo Visitante:</label> <input type="text" name="equipo_visitante" value="{{ partido.equipo_visitante }}" required></p>
        <p><label>Fecha:</label> <input type="text" name="fecha" value="{{ partido.fecha }}" required></p>
        <p><label>Goles Local:</label> <input type="number" name="goles_local" value="{{ partido.goles_local }}" required></p>
        <p><label>Goles Visitante:</label> <input type="number" name="goles_visitante" value="{{ partido.goles_visitante }}" required></p>
        <p><label>Torneo ID:</label> <input type="number" name="torneo_id" value="{{ partido.torneo_id }}" required></p>
        <p><label>Eliminado:</label> <input type="text" name="eliminado" value="{{ partido.eliminado }}" required></p>
        <p><label>Tarjetas Amarillas Local:</label> <input type="number" name="tarjetas_amarillas_local" value="{{ partido.tarjetas_amarillas_local }}" required></p>
        <p><label>Tarjetas Amarillas Visitante:</label> <input type="number" name="tarjetas_amarillas_visitante" value="{{ partido.tarjetas_amarillas_visitante }}" required></p>
        <p><label>Tarjetas Rojas Local:</label> <input type="number" name="tarjetas_rojas_local" value="{{ partido.tarjetas_rojas_local }}" required></p>
        <p><label>Tarjetas Rojas Visitante:</label> <input type="number" name="tarjetas_rojas_visitante" value="{{ partido.tarjetas_rojas_visitante }}" required></p>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/partidos/" class="btn btn-back">Cancelar</a>
    </form>
</div>
{% endblock %}