<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partidos</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <h1 style="color: #ff0000;">PARTIDOS</h1>
    <form method="get" action="/partidos/">
        <label for="year_filter">Buscar por Año:</label>
        <input type="number" id="year_filter" name="year" placeholder="Ej. 2021" value="{{ request.args.get('year') }}">
        <button type="submit">Filtrar</button>
    </form>
    <table>
        <thead>
            <tr style="background-color: #000080; color: white;">
                <th>ID</th>
                <th>FECHA</th>
                <th>EQUIPO LOCAL</th>
                <th>EQUIPO VISITANTE</th>
                <th>GOLES LOCAL</th>
                <th>GOLES VISITANTE</th>
                <th>TORNEO ID</th>
                <th>ELIMINADO</th>
                <th>TARJETAS AMARILLAS LOCAL</th>
                <th>TARJETAS AMARILLAS VISITANTE</th>
                <th>TARJETAS ROJAS LOCAL</th>
                <th>TARJETAS ROJAS VISITANTE</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for partido in partidos %}
            {% if not request.args.get('year') or partido.torneo_id|int in [t.id for t in torneos if t.anio == request.args.get('year')|int] %}
            <tr>
                <td>{{ partido.id }}</td>
                <td>{{ partido.fecha }}</td>
                <td>{{ partido.equipo_local }}</td>
                <td>{{ partido.equipo_visitante }}</td>
                <td>{{ partido.goles_local }}</td>
                <td>{{ partido.goles_visitante }}</td>
                <td>{{ partido.torneo_id }}</td>
                <td>{{ partido.eliminado or 'No' }}</td>
                <td>{{ partido.tarjetas_amarillas_local }}</td>
                <td>{{ partido.tarjetas_amarillas_visitante }}</td>
                <td>{{ partido.tarjetas_rojas_local }}</td>
                <td>{{ partido.tarjetas_rojas_visitante }}</td>
                <td>
                    <a href="/partidos/{{ partido.id }}/edit" class="btn-edit">Editar</a>
                    <a href="/partidos/{{ partido.id }}/delete" class="btn-delete">Eliminar</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a href="/partidos/crear/" class="btn-add">Añadir Partido</a>
</body>
</html>