<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Partido</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <h1>Crear Partido</h1>
    <form method="post" action="/partidos/crear/">
        <div><label>Fecha:</label><input type="text" name="fecha" required></div>
        <div><label>Equipo Local:</label><input type="text" name="equipo_local" required></div>
        <div><label>Equipo Visitante:</label><input type="text" name="equipo_visitante" required></div>
        <div><label>Goles Local:</label><input type="number" name="goles_local" required></div>
        <div><label>Goles Visitante:</label><input type="number" name="goles_visitante" required></div>
        <div>
            <label>Torneo:</label>
            <select name="torneo_id" required>
                {% for torneo in torneos %}
                    <option value="{{ torneo.id }}">{{ torneo.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div><label>Eliminado:</label><input type="text" name="eliminado" required></div>
        <div><label>Tarjetas Amarillas Local:</label><input type="number" name="tarjetas_amarillas_local" value="0"></div>
        <div><label>Tarjetas Amarillas Visitante:</label><input type="number" name="tarjetas_amarillas_visitante" value="0"></div>
        <div><label>Tarjetas Rojas Local:</label><input type="number" name="tarjetas_rojas_local" value="0"></div>
        <div><label>Tarjetas Rojas Visitante:</label><input type="number" name="tarjetas_rojas_visitante" value="0"></div>
        <button type="submit">Guardar</button>
    </form>
    <a href="/partidos/">Volver</a>
</body>
</html>