{% extends "base.html" %}
{% block title %}Detalles Plantilla - Gestión Selección Colombia{% endblock %}
{% block content %}
<h2>Detalles de la Plantilla</h2>
<p><strong>ID:</strong> {{ plantilla.id }}</p>
<p><strong>Equipo ID:</strong> {{ plantilla.equipo_id }}</p>
<p><strong>Nombre:</strong> {{ plantilla.nombre }}</p>
<p><strong>Posición:</strong> {{ plantilla.posicion }}</p>
<p><strong>Año:</strong> {{ plantilla.anio }}</p>
<p><strong>Torneo ID:</strong> {{ plantilla.torneo_id }}</p>
<p><strong>Jugador ID:</strong> {{ plantilla.jugador_id }}</p>
<a href="/plantillas/{{ plantilla.id }}/edit"><button>Editar</button></a>
<a href="/plantillas/"><button>Volver</button></a>
{% endblock %}