<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantillas</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <h1 style="color: #ff0000;">PLANTILLAS</h1>
    <form method="get" action="/plantillas/">
        <label for="year_filter">Buscar por Año:</label>
        <input type="number" id="year_filter" name="year" placeholder="Ej. 2021" value="{{ request.args.get('year') }}">
        <button type="submit">Filtrar</button>
    </form>
    <table>
        <thead>
            <tr style="background-color: #000080; color: white;">
                <th>ID</th>
                <th>EQUIPO ID</th>
                <th>NOMBRE</th>
                <th>POSICIÓN</th>
                <th>AÑO</th>
                <th>TORNEO ID</th>
                <th>JUGADOR ID</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for plantilla in plantillas %}
            {% if not request.args.get('year') or plantilla.anio == request.args.get('year')|int %}
            <tr>
                <td>{{ plantilla.id }}</td>
                <td>{{ plantilla.equipo_id }}</td>
                <td>{{ plantilla.nombre or 'N/A' }}</td>
                <td>{{ plantilla.posicion or 'N/A' }}</td>
                <td>{{ plantilla.anio or 'N/A' }}</td>
                <td>{{ plantilla.torneo_id or 'N/A' }}</td>
                <td>{{ plantilla.jugador_id or 'N/A' }}</td>
                <td>
                    <a href="/plantillas/{{ plantilla.id }}/edit" class="btn-edit">Editar</a>
                    <a href="/plantillas/{{ plantilla.id }}/delete" class="btn-delete">Eliminar</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a href="/plantillas/crear/" class="btn-add">Añadir Plantilla</a>
</body>
</html>