<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Plantilla</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <h1>Crear Plantilla</h1>
    <form method="post" action="/plantillas/crear/">
        <div><label>Equipo ID:</label><select name="equipo_id" required>
            {% for equipo in equipos %}
                <option value="{{ equipo.id }}">{{ equipo.nombre }}</option>
            {% endfor %}
        </select></div>
        <div><label>Jugador ID:</label><select name="jugador_id" required>
            {% for jugador in jugadores %}
                <option value="{{ jugador.id }}">{{ jugador.Jugadores }}</option>
            {% endfor %}
        </select></div>
        <div><label>Posición:</label><input type="text" name="posicion" required></div>
        <div><label>Año:</label><input type="number" name="anio" required></div>
        <div><label>Torneo ID:</label><select name="torneo_id" required>
            {% for torneo in torneos %}
                <option value="{{ torneo.id }}">{{ torneo.nombre }}</option>
            {% endfor %}
        </select></div>
        <button type="submit">Guardar</button>
    </form>
    <a href="/plantillas/">Volver</a>
</body>
</html>