{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 style="color: #FCD116;">Detalle del Torneo</h1>
    <p><strong>ID:</strong> {{ torneo.id }}</p>
    <p><strong>Nombre:</strong> {{ torneo.nombre }}</p>
    <p><strong>Año:</strong> {{ torneo.anio }}</p>
    <p><strong>País Anfitrión:</strong> {{ torneo.pais_anfitrion }}</p>
    <p><strong>Estado:</strong> {{ torneo.estado }}</p>
    <p><strong>Eliminado:</strong> {{ torneo.eliminado }}</p>
    <a href="/torneos/" class="btn btn-back">Volver</a>
</div>
{% endblock %}