<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Torneo</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Inicio</a>
        <a href="/jugadores/">Jugadores</a>
        <a href="/equipos/">Equipos</a>
        <a href="/partidos/">Partidos</a>
        <a href="/plantillas/">Plantillas</a>
        <a href="/torneos/">Torneos</a>
        <a href="/estadisticas/completa/">Estadísticas</a>
        <a href="/documentacion/">Documentación</a>
    </nav>
    <div class="content">
        <h1>Editar Torneo</h1>
        <form action="/torneos/{{ torneo.id }}/update" method="post">
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" value="{{ torneo.nombre }}" required><br>
            <label for="anio">Año:</label><br>
            <input type="number" id="anio" name="anio" value="{{ torneo.anio }}" required><br>
            <label for="pais_anfitrion">País Anfitrión:</label><br>
            <input type="text" id="pais_anfitrion" name="pais_anfitrion" value="{{ torneo.pais_anfitrion }}" required><br>
            <label for="estado">Estado:</label><br>
            <input type="text" id="estado" name="estado" value="{{ torneo.estado }}" required><br>
            <label for="eliminado">Eliminado:</label><br>
            <input type="text" id="eliminado" name="eliminado" value="{{ torneo.eliminado }}" required><br><br>
            <button type="submit">Actualizar</button>
        </form>
    </div>
</body>
</html>